@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Inter:wght@400;700;900&family=Playfair+Display:ital,wght@1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-serif: "Playfair Display", serif;
}

body {
  @apply bg-[#0A0A0B] text-white;
}

/* Custom glowing scrollbar for that intriguing look */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #0A0A0B;
}
::-webkit-scrollbar-thumb {
  background: #1C1C1E;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C1FF72;
}